@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background:url(../images/content_bg4.png) repeat;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
/* html,body{overflow:hidden;height:100%;} */
 /*     header     */

body
{
  padding-top: 0px !important;
}
#wrap
{
    width: 100%;
    height: 100%;
    background-color: white;
}

#wrap > h1{font-size: 0;}
header
{
    background-color:whitesmoke;
    padding-top: 1px;
    height: 400px;
    display: block;
}
header nav
{   
    position:fixed;
    background-color: #737;
    border:1px solid #737;
    width: 100%;
    margin-bottom: 0px;
    display: block;
    height: auto;
    padding-bottom: 2;
    overflow: visible;
    float: right;
}
header nav .nav_top_link_nav-center{
    position: absolute;
    left : 400px;
    top : 15px;
}

header nav .nav_top_link_nav-center span{
    padding: 10px;
    font-size : 19px;
    color: whitesmoke;
}
header .logo_box  img
{
    width: 130px;
    float: left;
    height: 60px;
}
#wrap header nav .nav_top-link_nav-right{ position : relative; float: right; text-align: right; height: 100%;top: 4px;margin-top: 10px;}
#wrap header nav ul li{height: 100%;margin:10px 0px 10px 0px; display: inline;}
#wrap header nav ul li #nickname{padding-top: 10px;}
#wrap header nav ul li .profile img{width: 30px; height: 30px; margin: 0px 10px 0px 0px ;}
#wrap header nav ul li a{color: black; height: 100%; font-size: 16px;font-weight:600; line-height:30px;}
#wrap header nav ul li:hover a{color: skyblue;}

header .head-line
{
   text-align: center;
   box-sizing: border-box;
   display: block;
   margin-top: 180px;
}
header .head-line h1{font-size: 50px;}
header .head-line h5{margin-left: 200px;}
.nav_top-link_nav-right a{display: inline; margin-right: 10px; color: black;}

/*   container   */
#container
{
    background-color: whitesmoke;
    margin: 7% 7% 3.5% 7%;
    border-radius: 15px;
}
#container #menu1{ width: 100%; height: 100%;}

#container .main_box{text-align: center;}
#container .main_box h2
{
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 38px;
    font-family: 'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;
}
#container .main_box p{font-size: 20px; margin: 0px 0px 30px 50px;}

#container .main_box .main_img_box img{ width: 100%; height: 100%; max-width: 500px; max-height: 550px;}
#container .button_box{ text-align: center; padding: 5% 25% 5% 25%;}

#menu1 .select{min-height: 600px; text-align: center;}
#menu1 .select_page
{
    width: 400px;
    height: 470px;
    display: inline-block;
    text-align: center;
    padding: 30px;
    background-color: darkgrey;
    margin: 20px 3% 3px 3%;
}
#menu1 .select {padding-bottom: 20px;}
#menu1 .select img{width: 300px; height: 400px;}
#menu1 .select h4{margin: 12px; font-size: 18px;}
#range_left {display: block; margin: 0 auto; margin-top: 20px;}
#h4-container {display: block; margin: 0 auto;}
#h4-container h4{left: 50%;}
#menu1 .select_head{padding: 10px 0px 0px 0px;}
#menu1 .select_head h1{margin: 10px 0px 0px 0px; font-size: 35px;}
#menu1 .select_page #ideal_name{margin-top: 5px; text-align: center;}
#menu1 .select_page #rank_form{display: inline;}
#menu1 .select_page #rank_form button{margin-top: 8px; margin-right: 15px;}
#menu1 .box .roding_page{text-align: center; padding-top: 90px; height: 500px;}
#menu1 .box .roding_page h3{margin-top: 50px;}

.final_btn{display: inline-block;}
.final_btn button{margin-top: 8px;}

/*  footer  */
footer{ background-color: grey; padding-bottom: 5px;}
footer p{color: white;}



 
  html h4:after {
    padding-left: 1px;
  }
  html input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 400px;
    max-width: 100%;
    margin: 24px 0 16px;
    transition: box-shadow 0.2s ease-in-out;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    html input[type=range] {
      overflow: hidden;
      height: 40px;
      -webkit-appearance: none;
      background-color: #ddd;
    }
    html input[type=range]::-webkit-slider-runnable-track {
      height: 40px;
      -webkit-appearance: none;
      color: #444;
      transition: box-shadow 0.2s ease-in-out;
    }
    html input[type=range]::-webkit-slider-thumb {
      width: 40px;
      -webkit-appearance: none;
      height: 40px;
      cursor: ew-resize;
      background: #fff;
      box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
      border-radius: 50%;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
    }
    html input[type=range]:active::-webkit-slider-thumb {
      background: #fff;
      box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
    }
  }
  html input[type=range]::-moz-range-progress {
    background-color: #43e5f7;
  }
  html input[type=range]::-moz-range-track {
    background-color: #9a905d;
  }
  html input[type=range]::-ms-fill-lower {
    background-color: #43e5f7;
  }
  html input[type=range]::-ms-fill-upper {
    background-color: #9a905d;
  }
  
  #h4-container {
    width: 400px;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
  }
  #h4-container #h4-subcontainer_l , #h4-container #h4-subcontainer_r{
    width: 100%;
    position: relative;
  }
  #h4-container #h4-subcontainer_l h4 , #h4-container #h4-subcontainer_r h4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    color: #fff !important;
    font-size: 12px;
    transform-origin: center -10px;
    transform: translateX(-50%);
    transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
  }
  #h4-container #h4-subcontainer_l h4 span, #h4-container #h4-subcontainer_r h4 span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1597ff;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  input:not(:active) + #h4-container h4 {
    opacity: 0;
    margin-top: -50px;
    pointer-events: none;
  }

  #select_pkg
  {
    width: 150px !important;
    height: 190px !important;
    padding: 5px 5px 5px 5px;
  }

  #select_div
  {
    margin-top: 90px;
    background-color: rgb(99, 25, 99);
    text-align: center;
  }